



/* --------------------
	IMPORT FONTFACE
-------------------- */

@font-face {
	font-family: 'Compose';
	src: url('../fonts/Compose-Regular.woff2') format('woff2'),
			 url('../fonts/Compose-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Compose';
	src: url('../fonts/Compose-Bold.woff2') format('woff2'),
			 url('../fonts/Compose-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}




/* --------------------
	IMPORT SCSS
-------------------- */
@import 'bootstrap';




/* --------------------
	OVERWRTIES
-------------------- */
// Bootstrap Icons
.btn {
	> .bi {
		font-size: 1.5rem;
		height: 1.5rem;
		display: inline-block;
		vertical-align: text-bottom;
		&:before {
			vertical-align: top;
		}
	}
	&.btn-sm {
		> .bi {
			font-size: 1.25rem;
			height: 1.25rem;
		}
	}
}


.input-group-lg {
	.btn {
		> .bi {
			vertical-align: unset;
		}
	}
}
.btn-lg {
	> .bi {
		vertical-align: unset;
	}
}


// Swiper Container
.swiper-container {
	.swiper-pagination {
		bottom: 0;
		&-bullet {
			opacity: 1;
			outline: none;
			background: $white;
			border-radius: 4px;
			width: 30px;
			height: 5px;
			margin-right: 12px;
			transition: all 0.4s cubic-bezier(0.83, 0, 0.17, 1);
			&-active {
				background: $primary;
				width: 60px;
			}
		}
	}
}

// Card Hover
.card {
	transition: transform 0.2s;
	&:hover {
		transform: translateY(-5px);
	}
}



/* --------------------
	SNIPPETS
-------------------- */
// Gray Backgrounds
.bg-gray {
	&-50 {
		background: $gray-50;
	}
	&-100 {
		background: $gray-100;
	}
	&-200 {
		background: $gray-200;
	}
	&-300 {
		background: $gray-300;
	}
	&-400 {
		background: $gray-400;
	}
	&-500 {
		background: $gray-500;
	}
	&-600 {
		background: $gray-600;
	}
	&-700 {
		background: $gray-700;
	}
	&-800 {
		background: $gray-800;
	}
	&-900 {
		background: $gray-900;
	}
}

// Gray Text
.text-gray {
	&-50 {
		color: $gray-50;
	}
	&-100 {
		color: $gray-100;
	}
	&-200 {
		color: $gray-200;
	}
	&-300 {
		color: $gray-300;
	}
	&-400 {
		color: $gray-400;
	}
	&-500 {
		color: $gray-500;
	}
	&-600 {
		color: $gray-600;
	}
	&-700 {
		color: $gray-700;
	}
	&-800 {
		color: $gray-800;
	}
	&-900 {
		color: $gray-900;
	}
}

// Arrow List
.list-arrow {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		display: flex;
		align-items: flex-start;
		+ li {
			margin-top: $spacer / 2;
		}
		&:before {
			content: '\f135';
			display: inline-block;
			font-family: bootstrap-icons !important;
			font-style: normal;
			font-weight: normal !important;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			font-size: $font-size-base * 1.25;
			margin-right: $spacer / 2;
		}
	}
}

// Filled Background Image
.has-bg-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

// Overlay Containers
.has-overlay {
	position: relative;
	z-index: 1;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background: $white;
		opacity: 0.85;
		width: 100%;
		height: 100%;
	}
	*:not(.btn) {
		color: $white;
	}
}
// Overlay Colors
@each $color,$value in $theme-colors {
	.overlay-#{$color} {
		background: $value;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		mix-blend-mode: multiply;
		filter: brightness(0.8);
	}
}

// Grays
@each $color,$value in $grays {
	.bg-gray-#{$color} {
		background: $value;
	}
	.text-gray-#{$color} {
		color: $value;
	}
}

// Light and Dark Colors / Borders
@each $color,$value in $theme-colors {
	.bg-#{$color}-light {
		background: tint-color($value, 90%);
	}
	.border-#{$color}-light {
		border-color: tint-color($value, 80%) !important;
	}
	.text-#{$color}-dark {
		color: shade-color($value, 80%);
	}
}

// z-indexes
$z-index: 10;
@for $i from 1 through $z-index {
	.z-#{$i} {
		z-index: $i;
	}
}
.z-n1 {
	z-index: -1;
}

// Icon Holder Boxes
.icon-holder {
	display: block;
	border-radius: $spacer * 1.5;
	padding: $spacer * 1.5;
	@include media-breakpoint-down(sm) {
		padding: $spacer * 0.875;
		border-radius: $spacer * 0.875;
	}
	perspective: 200px;
	&:hover {
		> img {
			transform: rotateY(360deg);
		}
	}
	> img {
		width: 32px;
		height: 32px;
		transform-style: preserve-3d;
		transition: transform 0.75s;
		pointer-events: none;
		@include media-breakpoint-down(sm) {
			width: 24px;
			height: 24px;
		}
		&.dynamic-icon {
			filter: invert(1);
		}
	}
}
.icon-holder-trigger {
	&:hover {
		.icon-holder {
			> img {
				transform: rotateY(360deg);
			}
		}
	}
}

// Fake Background
.faux-bg-light-left,
.faux-bg-light-right {
	position: relative;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		background: $gray-100;
	}
}
.faux-bg-light-left {
	&:after {
		right: 0;
		left: -99999px;
		@include media-breakpoint-down(lg) {
			right: -99999px;
		}
	}
}
.faux-bg-light-right {
	&:after {
		left: 0;
		right: -99999px;
		@include media-breakpoint-down(lg) {
			right: -99999px;
		}
	}
}

// Icon Card
.icon-card {
	display: flex;
	align-items: flex-end;
	padding: $spacer * 1.5;
	.icon-card-content {
		margin-right: $spacer * 2;
	}
	.icon-holder {
		margin-left: auto;
	}
}

// Anchor Links with underline effect
.anchor-fx {
	text-decoration: none;
	background-image: linear-gradient(transparent calc(100% - 1px), $primary 1px);
	background-repeat: no-repeat;
	background-size: 0% calc(100% - 4px);
	transition: background-size 0.5s, color 0.25s;
	&:hover {
		color: $primary !important;
		background-size: 100% calc(100% - 4px);
	}
}

// Page Title
.page-title {
	min-height: 50vh;
	display: flex;
	align-items: flex-end;
	padding-top: $spacer * 1.5;
	@include media-breakpoint-down(md) {
		min-height: 40vh;
	}
	h1 {
		display: flex;
		flex-direction: column;
		margin-bottom: 0;
		word-break: break-word;
		&:after {
			content: '';
			width: 1ch;
			margin-top: 5vh;
			height: $spacer * 0.75;
			background: $white;
			@include media-breakpoint-down(md) {
				margin-top: $spacer;
			}
		}
	}
}

// Section Title
.section-title {
	margin-bottom: $spacer * 1.5;
	@include media-breakpoint-down(md) {
		margin-bottom: $spacer;
	}
}

// Google Map
.google-map {
	iframe {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 50vh;
	}
}

// Fit Image
$fit-image-sizes: 10;
.fit-image {
	overflow: hidden;
	border-radius: $border-radius-lg;
	@for $i from 1 through $fit-image-sizes {
		&.vh-#{$i}0 {
			height: #{$i}0vh;
		}
	}
	> img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


/* --------------------
	CONTAINERS
-------------------- */
#wrapper {
	overflow-x: hidden;
}




/* --------------------
	HEADER
-------------------- */
#header {
	.logo-holder {
		> img {
			height: 48px;
			width: auto;
		}
	}
	#main-nav {
		@include media-breakpoint-down(xl) {
			margin: 0 (-$spacer);
		}
		.nav-link {
			overflow: hidden;
			position: relative;
			padding: $spacer * 1.75 $spacer;
			@include media-breakpoint-down(xl) {
				padding: ($spacer) ($spacer * 1.75) ($spacer * 0.8);
				font-weight: $font-weight-bold;
				letter-spacing: 0.2ch;
				text-transform: uppercase;
				z-index: 1;
				transition: color 0.25s;
			}
			&:hover {
				@include media-breakpoint-down(xl) {
					overflow: hidden;
					color: $white;
				}
				&:before {
					width: 100%;
					@include media-breakpoint-down(xl) {
						width: 125%;
					}
				}
				&:after {
					transform: translateY(1px) translateX(-50%);
				}
			}
			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
			}
			&:before {
				background: $primary;
				height: 2px;
				width: 0;
				transform: translateX(-50%);
				@include media-breakpoint-down(xl) {
					height: auto;
					bottom: 0;
					left: 0;
					z-index: -1;
					transform: translateX(0%);
					background: linear-gradient(
						to right,
						hsl(201, 100%, 44%) 0%,
						hsla(201, 100%, 44%, 0.958) 8.4%,
						hsla(201, 100%, 44%, 0.905) 16.2%,
						hsla(201, 100%, 44%, 0.842) 23.4%,
						hsla(201, 100%, 44%, 0.772) 30.1%,
						hsla(201, 100%, 44%, 0.696) 36.4%,
						hsla(201, 100%, 44%, 0.616) 42.4%,
						hsla(201, 100%, 44%, 0.534) 48.2%,
						hsla(201, 100%, 44%, 0.451) 54%,
						hsla(201, 100%, 44%, 0.369) 59.8%,
						hsla(201, 100%, 44%, 0.29) 65.6%,
						hsla(201, 100%, 44%, 0.216) 71.7%,
						hsla(201, 100%, 44%, 0.148) 78.1%,
						hsla(201, 100%, 44%, 0.088) 84.9%,
						hsla(201, 100%, 44%, 0.038) 92.1%,
						hsla(201, 100%, 44%, 0) 100%
					);
				}
			}
			&:after {
				width: 0;
				height: 0;
				border: 6px solid;
				border-color: $primary transparent transparent;
				transform: translateY(-10px) translateX(-50%);
				transition-delay: 0.15s;
				@include media-breakpoint-down(xl) {
					display: none;
				}
			}
		}
	}
	.offcanvas-header {
		display: none;
		padding: $spacer * 1.25 $spacer * 1.125 $spacer * 1.25 $spacer * 1.75;
		margin: 0 (-$spacer) $spacer;
		@include media-breakpoint-down(xl) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	.navbar-collapse {
		@include media-breakpoint-down(xl) {
			position: fixed;
			left: 100%;
			bottom: 0;
			top: 0;
			width: 100%;
			height: 100% !important;
			max-width: 320px;
			padding-right: 1rem;
			padding-left: 1rem;
			overflow-y: auto;
			visibility: hidden;
			background-color: $white;
			transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
		}
		@include media-breakpoint-down(sm) {
			max-width: none;
		}
		&.show {
			@include media-breakpoint-down(xl) {
				visibility: visible;
				transform: translateX(-320px);
				z-index: 31;
			}
			@include media-breakpoint-down(sm) {
				transform: translateX(-100%);
			}
		}
		&.collapse {
			&:not(.show) {
				display: block;
			}
		}
	}
	.screen-overlay {
		position: fixed;
		z-index: 30;
		height: 100%;
		width: 0;
		top: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		background-color: rgba($white, 0.5);
		transition: opacity .2s linear, visibility .1s, width 1s ease-in;
		&.show-overlay {
			transition: opacity .5s ease, width 0s;
			width: 100%;
			opacity: 1;
			visibility: visible;
		}
	}
}





/* --------------------
	FOOTER
-------------------- */
#aside-footer {
	background: $gray-800;
	a {
		color: $white;
		text-decoration: none;
		transition: color 0.15s;
		&:hover {
			color: tint-color($primary, 50%);
		}
	}
}
#footer {
	background: $gray-900;
	padding: $spacer * 1.875 0;
}





/* --------------------
	HERO SLIDER
-------------------- */
$hero-slider-nav-width: 60px;
.hero-slider {
	.swiper-slide {
		height: calc(90vh - 80px);
		min-height: 520px;
		@include media-breakpoint-down(xl) {
			height: calc(70vh - 80px);
		}
		@include media-breakpoint-down(md) {
			height: auto;
		}
		.hero-slider-mobile-image {
			display: none;
			@include media-breakpoint-down(md) {
				display: block;
			}
		}
	}
	.caption {
		position: relative;
		z-index: 1;
		height: 100%;
		display: flex;
		align-items: flex-end;
		color: $white;
		@include media-breakpoint-down(md) {
			height: auto;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 50%;
			bottom: 0;
			z-index: -1;
			background: transparentize($black, 0.25);
			backdrop-filter: blur(25px);
			@include media-breakpoint-down(md) {
				right: 0;
			}
		}
	}
	.navigation-holder {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 2;
		margin-bottom: 48px;
		@include media-breakpoint-down(md) {
			margin-bottom: 24px;
		}
		.swiper-button-prev,
		.swiper-button-next {
			overflow: hidden;
			top: auto;
			bottom: 0;
			background: transparentize($black, 0.25);
			backdrop-filter: blur(25px);
			width: $hero-slider-nav-width;
			height: $hero-slider-nav-width;
			color: $white;
			outline: none;
			box-shadow: 0 0 0 3px rgba($primary, 0);
			transition: box-shadow 0.25s, background 0.25s;
			&:hover {
				background: transparentize($black, 0.1);
			}
			&:active {
				background: transparentize($black, 0.1);
				box-shadow: 0 0 0 5px rgba($white, 0.6);
			}
			&:before,
			&:after {
				font-family: swiper-icons;
				text-transform: none !important;
				letter-spacing: 0;
				text-transform: none;
				font-variant: initial;
				line-height: 1;
				font-size: 26px;
			}
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
		.swiper-button-next {
			right: 0;
			&:before,
			&:after {
				content: 'next';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin-left: 3px;
			}
			&:before {
				opacity: 0;
			}
			&:after {}
			&:hover {
				&:after {
					animation: heroslidernavnextafter 0.4s cubic-bezier(0.5, 0, 0.75, 0);
					animation-fill-mode: forwards;
				}
				&:before {
					animation: heroslidernavnextbefore 0.4s cubic-bezier(0.25, 1, 0.5, 1);
					animation-fill-mode: forwards;
					animation-delay: 0.25s;
				}
			}
		}
		.swiper-button-prev {
			left: auto;
			right: calc(#{$hero-slider-nav-width} + #{$spacer});
			&:before,
			&:after {
				content: 'prev';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin-right: 3px;
			}
			&:before {
				opacity: 0;
			}
			&:after {}
			&:hover {
				&:after {
					animation: heroslidernavprevafter 0.4s cubic-bezier(0.5, 0, 0.75, 0);
					animation-fill-mode: forwards;
				}
				&:before {
					animation: heroslidernavprevbefore 0.4s cubic-bezier(0.25, 1, 0.5, 1);
					animation-fill-mode: forwards;
					animation-delay: 0.25s;
				}
			}
		}
		.swiper-pagination {
			line-height: 0;
			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}
	}
}
@keyframes heroslidernavnextafter {
	0% {
		left: 50%;
		opacity: 1;
	}
	100% {
		left: 120%;
		opacity: 0;
	}
}
@keyframes heroslidernavnextbefore {
	0% {
		left: 0%;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.2);
	}
	100% {
		left: 50%;
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
@keyframes heroslidernavprevafter {
	0% {
		left: 50%;
		opacity: 1;
	}
	100% {
		left: -120%;
		opacity: 0;
	}
}
@keyframes heroslidernavprevbefore {
	0% {
		left: 100%;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.2);
	}
	100% {
		left: 50%;
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}


/* --------------------
	CARD CAROUSEL
-------------------- */


.cards-carousel {
	.swiper-pagination {
		&-bullet {
			background: rgba($primary, 0.35);
			&-active {
				background: $primary;
			}
		}
	}
}
















// end
